on: [push, pull_request]

env:
  GOEXPERIMENT: jsonv2

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run tests
        run: |
          go test -count=1 ./...
